@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

:root{
    --primary: #3359bc;
    --secondary: #4870D5;
    --white: #faf9fb;
    --light-gray: #e7ebe7;
    --black-100: #6b686710;
    --accent: #f8bd1d;

    --text-color: #0f0f0f;

    --heading: "Poppins";
    --corpo: "Inter";
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    overflow-x: hidden;
    min-height: 100dvh;
}

p, span, a{
    font-family: var(--corpo);
}

li{
    list-style: none;
}

h1,h2,h3{
    font-family: var(--heading);
    transition: 200ms;
    width: fit-content;
}

h1{
    font-size: 28pt;
    font-weight: 600;
}
h2{
    font-size: 18pt;
    font-weight: 600;
}
h3{
    font-size: 14pt;
    font-weight: 500;
}

h1:hover, h2:hover, h3:hover{
    transform: scale(1.05);
    color: var(--secondary);
}

main{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex: 1;
    gap: 20px;
}

section{
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    margin: 60px 0px;
    width: 100%;
}

header{
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);
    box-shadow: 0 2px 20px #6b686710;

    .content{
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        margin: 0 20px;

        .logo{
            display: flex;
            align-items: center;
            gap: 10px;
            position: absolute;
            left: 0;
            font-size: 14pt;
            font-weight: 600;
            text-decoration: none;
            
            img{
                height: 30px;
                transform: rotate(0deg);
                transition: 600ms;
            }
        }

        .logo:hover{
            img{
                transform: rotate(360deg);
            }
        }
        
        nav{
            display: flex;
            gap: 20px;
            
            a{
                text-decoration: none;
                font-family: var(--corpo);
                padding: 2px 5px;
                transition: 200ms ease-out;
            }

            a:hover{
                transform: translateY(3px)
            }

            .current_page{
                color: var(--secondary);
                font-weight: 600;
                border-bottom: 2px solid var(--secondary);
            }
        }
    }
}

footer{
    width: 100%;
    padding: 70px 0px 20px;
    top: auto;
    bottom: 0px;

    .content{
        border-top: 1px solid var(--light-gray);
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        margin: 0px 60px;
        padding-top: 50px;

        .logo{
            display: flex;
            align-items: center;
            gap: 15px;
            position: absolute;
            left: 0;
            top: 30px;
            font-size: 18pt;
            font-weight: 600;
            transition: 200ms ease-out;
            cursor: default;

            img{
                width: 60px;
            }
        }

        .logo:hover{
            transform: scale(1.1);
        }

        a{
            color: #0f0f0f99;
        }

        li{
            transition: 200ms ease-out;
        }

        li:hover{
            transform: translateX(5px);
            font-weight: 500;
        }

        .info{
            margin: 40px 0;
            display: flex;

            .box{
                padding: 20px 60px;
                border-left: solid 1px var(--light-gray);
            }
            
            .box:nth-of-type(1){
                border-left: none;
            }
        }

        p{
            position: absolute;
            bottom: 0px;
            right: 0;
            color: #0f0f0f99;
            font-size: 10pt;
        }
    }

}

.shadow{
    filter: drop-shadow(0 2px 20px var(--black-100));
}

.accent{
    font-weight: 700;
    color: var(--accent);
}