.hero{
    display: flex;
    position: relative;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    height: 100dvh;
    margin-bottom: 60px;
    background-color: var(--text-color);

    .content{
        width: 60vw;
        z-index: 10;

        p{
            color: var(--white);
            font-size: 15pt;
        }
        h1{
            color: var(--white);
        }
    }

    img{
        position: absolute;
        bottom: 0;
        right: -100px;
        opacity: 0.3;
    }

    video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
}

.about{
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex: 1;

    .content{
        display: flex;
        flex-direction: column;
        flex: 1 1 20%;
        max-width: 100%;
        gap: 6px;
        
        p{
            width: fit-content;
        }
    }
    
    img{
        flex: 1 1 20%;
        object-fit: cover;
        height: 400px;
        max-width: 100%;
        border-radius: 20px;
        transition: 200ms ease-out;
        border: solid 1px var(--light-gray);
    }

    img:hover{
        border-radius: 40px;
    }
}

.discovery{
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 40px;

        .card{
            display: flex;
            position: relative;
            height: 400px;
            max-width: 100%;
            flex: 1 1 300px;
            overflow: hidden;
            border-radius: 20px;
            transition: 200ms ease-out;
            background-color: var(--text-color);

            img{
                transition: 200ms ease-out;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.5;
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                padding: 40px;
                z-index: 10;

                *{
                    color: var(--white);
                }

                h2{
                    font-size: 20pt;
                }

                a{
                    background-color: var(--primary);
                    padding: 12px;
                    border-radius: 10px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 14pt;
                    transition: 200ms ease-out;
                }

                a:hover{
                    transform: scale(1.05);
                }
            }
        }

        .card:hover{
            border-radius: 40px;

            img{
                opacity: 0.8;
            }

            a{
                background-color: var(--secondary);
            }
        }
    }
}

.transports{
    .cards{
        margin-top: 40px;
        gap: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card{
            display: flex;
            height: 250px;
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            flex: 1 1 250px;
            transition: 200ms;

            .background{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(2px);
            }

            .vehicle{
                position: absolute;
                width: 300px;
                bottom: -10px;
                right: -10%;
                transition: 200ms ease-out;
            }
            
            .content{
                background-color: #0f0f0f4f;
                z-index: 200;
                padding: 20px;
                width: 100%;
                transition: 200ms;
                
                h3,p{
                    color: var(--white);
                }
            }
        }

        .card:hover{
            border-radius: 40px;

            .content{
                background-color: #0f0f0f1c;

                h3{
                    font-size: 18pt;
                    font-weight: 600;
                }
            }
            .vehicle{
                transform: scale(1.08);
            }
        }
    }
}